/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

body {
  min-width: 1100px;
}

/* Containers
----------------------------------------------------------------------------------------------------*/
.container_10 {
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}



.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10 {
	position:relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 10 Columns
----------------------------------------------------------------------------------------------------*/


.container_10 .grid_1 {
	width:100px;
}

.container_10 .grid_2 {
	width:210px;
}

.container_10 .grid_3 {
	width:320px;
}

.container_10 .grid_4 {
	width:430px;
}

.container_10 .grid_5 {
	width:540px;
}

.container_10 .grid_6 {
	width:650px;
}

.container_10 .grid_7 {
	width:760px;
}

.container_10 .grid_8 {
	width:870px;
}

.container_10 .grid_9 {
	width:980px;
}

.container_10 .grid_10 {
	width:1090px;
}




/* Prefix Extra Space >> 10 Columns
----------------------------------------------------------------------------------------------------*/


.container_10 .prefix_1 {
	padding-left:110px;
}

.container_10 .prefix_2 {
	padding-left:220px;
}

.container_10 .prefix_3 {
	padding-left:330px;
}

.container_10 .prefix_4 {
	padding-left:440px;
}

.container_10 .prefix_5 {
	padding-left:550px;
}

.container_10 .prefix_6 {
	padding-left:660px;
}

.container_10 .prefix_7 {
	padding-left:770px;
}

.container_10 .prefix_8 {
	padding-left:880px;
}

.container_10 .prefix_9 {
	padding-left:990px;
}



/* Suffix Extra Space >> 10 Columns
----------------------------------------------------------------------------------------------------*/


.container_10 .suffix_1 {
	padding-right:110px;
}

.container_10 .suffix_2 {
	padding-right:220px;
}

.container_10 .suffix_3 {
	padding-right:330px;
}

.container_10 .suffix_4 {
	padding-right:440px;
}

.container_10 .suffix_5 {
	padding-right:550px;
}

.container_10 .suffix_6 {
	padding-right:660px;
}

.container_10 .suffix_7 {
	padding-right:770px;
}

.container_10 .suffix_8 {
	padding-right:880px;
}

.container_10 .suffix_9 {
	padding-right:990px;
}



/* Push Space >> 10 Columns
----------------------------------------------------------------------------------------------------*/


.container_10 .push_1 {
	left:110px;
}

.container_10 .push_2 {
	left:220px;
}

.container_10 .push_3 {
	left:330px;
}

.container_10 .push_4 {
	left:440px;
}

.container_10 .push_5 {
	left:550px;
}

.container_10 .push_6 {
	left:660px;
}

.container_10 .push_7 {
	left:770px;
}

.container_10 .push_8 {
	left:880px;
}

.container_10 .push_9 {
	left:990px;
}



/* Pull Space >> 10 Columns
----------------------------------------------------------------------------------------------------*/


.container_10 .pull_1 {
	left:-110px;
}

.container_10 .pull_2 {
	left:-220px;
}

.container_10 .pull_3 {
	left:-330px;
}

.container_10 .pull_4 {
	left:-440px;
}

.container_10 .pull_5 {
	left:-550px;
}

.container_10 .pull_6 {
	left:-660px;
}

.container_10 .pull_7 {
	left:-770px;
}

.container_10 .pull_8 {
	left:-880px;
}

.container_10 .pull_9 {
	left:-990px;
}




/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}