// Start with the reset
@import 'reset.less';

// Bring in WordPress Core
@import 'wp_core.less';

// Bring in Semantic Grid System
@import 'grid.less';

// Setup Semantic Grid
	// Specify the number of columns and set column and gutter widths
	@columns: 12;
	@column-width: 60;
	@gutter-width: 20;

	// Remove the definition below for a pixel-based layout
	@total-width: 100%;

// Wireframe Color Scheme Template
@bright: #FFFFFF;
@hihigh: #CCCCCC;
@high: #B0B0B0;
@mid: #757575;
@low: #444444;
@lolow: #2A2A2A;
@dark: #202020;
@blue: #125eac;

h1, h2, h3, h4, h5, h6 { color: @dark; }

a { color: @blue; }
	
body {
	background: @hihigh;
	color: @low;
	font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
}

.center {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;

	background: @bright;
	border-top: 3px solid @high;
	border-bottom: 3px solid @high;
}

header {
	.row(12);	
	padding: 1em 0 0.5em 0;

	#headline {
		.column(9,12);
	}
	
	#subhead {
		color: @high;
		text-transform: uppercase;
	}
	
	nav { .column(3,12); }

	nav li { display: inline; }

	nav li a {
		
		color: @mid;
		display: inline-block;
		padding: 5px 10px;
	}
}


#primaryNav {
	.row(12);
	background:@dark;
	ul { .column(12,12); }

	ul li {
		height:35px;
		list-style:none;
		float: left;
	
		a {
			color:@hihigh;
			display:block;
			font-weight:normal;
			line-height:35px;
			padding:0px 15px;
			text-align:center;
			text-decoration:none;
		}
		
		a:hover,
		&:hover>a,
		&.current_page_item>a,
		&.current_page_ancestor>a {
			background: @blue;
			color:@bright;
			text-decoration:none;
		}
		
		&:hover ul{ display:block; }
		ul { /* 2nd Level Drop Menus */
			background:@low;
			color: @bright;
			display:none;
			position:absolute;
			width:225px;
			z-index:200;

			li {
				display:block;
				float:none;
				width:225px;				
			
				a {
					display:block;
					color: @bright;
					height:35px;
					font-size:12px;
					font-style:normal;
					padding:0px 10px 0px 15px;
					text-align:left;
				}
				
				a:hover, &:hover a{
					background:@blue;
					color:@bright;
					text-decoration:none;
				}
			}
		}
	}
}

select#primaryMenu {
	/* Used in place of nav#primaryNav on narrow screens */
	.column(10,12);
	.push(1);
	margin-top: 1em;
	margin-bottom: 1em;
}

#bodyArea {
	.row(12);
	padding-top: 15px;
	border-top: 3px solid @blue;
}

#secondNav {
	.column(2,12);
	background: @hihigh;

	&>ul {
		display: block;
		margin: @pad 0;
		border-top: 5px solid @blue;
		border-bottom: 5px solid @blue;
			
		ul.children {
			display: block;
			margin-left: 10px;
		}
		
		a {
			display: block;
			padding: 10px;
			border-bottom: 1px solid @hihigh;
			background: @bright;
		}
		
		a:hover,
		li.current_page_item>a {
			background: @high;
			color: @dark;
			text-decoration: none;
		}
	}
}

.content {
	.column(7,12);
	padding-bottom: 30px;
	
	img { max-width: 100%; }
	
	table {
		max-width: 100%;
		min-width: 70%;
		margin-bottom: 15px;
		
		thead {
			border-bottom: 1px solid @low;
			font-weight: bold;
			text-align: center;
			vertical-align: bottom;
			
			th { padding: 5px; }
		}
		
		td {
			padding: 5px;
			border-bottom: 1px solid @hihigh;
		}
		
		img {
			padding: 0;
			border: 0;
			margin: 0;
		}
	}
	
	.placeholder {
		font-style: italic;
		color: #C00;
	}
	
}

	
#sidebar {
	.column(3,12);
}

#footerA {
	.row(12);
	
	nav { 
		.column(2,12);
	}
	
	#SlimFooter {
		.column(2, 12);
	}
	
	#LargeFooter {
		.column(6, 12);
	}
	
	nav a {
		display: block;
		padding: 10px;
		text-transform: uppercase;
		font-size: 75%;
		color: @mid;
		border-bottom: 1px solid @hihigh;
	}
}

#footerB {
	.column(12);
	padding: 5px 0 15px 0;
}

.sidebars {

	h3 {
		color: @low;
		font-size: 110%;
		text-transform: uppercase;
		letter-spacing: 2px;
		padding-bottom: 0.2em;
		border-bottom: 1px dotted @hihigh;
	}
		
	ul { .listreset }
	
	.widget {
		margin: 0.25em 0 1.5em 0;
	}
}

/* SCREEN SIZE BREAKPOINTS */

@media screen and (min-width: 1024px) {
	.center {
		max-width: 1280px;
		width: 80%;
		min-width: 960px;
		margin: 25px auto;
		padding: 0 20px;
	}
}

@media screen and (max-width: 1023px) {
	.center {
		width: 100%;
		margin: 0;
		border-top: 0;
	}
}

@media screen and (max-width: 767px) and (min-width: 600px) {
	.center {
		
		#primaryNav {
			a {
				padding:0px 6px;
				font-size: 90%;
			}
		}

		#secondNav {
			.column(3,12);
		}

		.content {
			.column(9,12);
			float: right;
			p { margin-right: 2%; }
		}

			
		#sidebar {
			padding-top: 2em;
			
			.column(9,12);
			.widget {
				padding: 0 10px;
			}
			
			.widget_search {
				display: none;
			}
		}		

		#footerA {
			.row(12);
			
			nav { 
				.column(3,12);
				clear: left;
				float: left;
			}
			
			#SlimFooter {
				.column(9, 12);
				float: right;
			}
			
			#LargeFooter {
				.column(9, 12);
				float: right;
			}
		}
		
	}
}

@media screen and (max-width: 599px) {
	.center {
	
		header {

			#headline {
				.column(10,12);
				.push(1);
			}
			nav { display: none; }
		}
		
		select#primaryMenu {
			/* Used in place of nav#primaryNav on narrow screens */
		}

		#secondNav {
			display: none;
		}

		.content {
			display: block;
			width: 94%;
			margin: 1em 3%;
		}

			
		#sidebar {
			padding-top: 2em;
			.column(12,12);
			.widget {
				width: 94%;
				margin: 1em 3%;
			}
			
			.widget_search {
				display: none;
			}
		}		

		#footerA {
			.row(12);
			
			nav { 
				.column(12,12);
				text-align: center;
				
				li { display: inline; }
				
				a {
					display: inline-block;
					padding: 1em;
					border: 0;
				}
			}
			
			#SlimFooter {
				display: none;
			}
			
			#LargeFooter {
				display: none;
			}
		}
		
	}
}