/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Make default lists nice */
ul, ol {
  margin: 0; padding: 0 1em;
  margin-bottom:1em;
}
ul li, ol li {
  margin-left: 1em;
  padding-left: 0.5em;
  margin-bottom:0.5em;
}

ul li { list-style: disc outside;  }
ol li { list-style: decimal outside; }

/* REBUILD PREFERRED & REUSABLE PIECES */

/* LESS Mixin for Resetting Lists */
.listreset {
	&, li { margin:0; padding:0; list-style:none; }
}
nav ul { .listreset; }


/* TSMITH: Rebuild "What I Like" */

b, strong { font-weight: bold; }
i, em { font-style: italic; }

p { margin-bottom: 0.5em; }

a {
	text-decoration: none; 
	&:hover { text-decoration: underline; }
}

body {
	font-size: 13px;
	line-height: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; }
h1, h2, h3 { margin-bottom: 0.5em; }
h4, h5, h6 { margin-bottom: 0.25em; }

h1 { font-size: 200%; line-height: 125%; }
h2 { font-size: 175%; line-height: 125%; }
h3 { font-size: 150%; line-height: 125%; }
h4 { font-size: 125%; line-height: 125%; }
h5 { font-size: 110%; line-height: 125%; }
h6 { font-size: 100%; line-height: 125%; }

hr {
	border: 0; border-top: 1px solid #999;
	background-color: #999; color: #999;
	height: 1px; margin: 1em 0;
	clear: both;
}
